@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: block; /* Changed from flex to block */
    background-color: #f4f4f4;
    font-family: 'Bebas Neue', sans-serif;
}

.content-wrapper {
    display: flex;
    flex-direction: column; /* Stacks children vertically */
    align-items: center; /* Center horizontally */
    height: calc(100% - 50px); /* Adjust height taking sidebar into account */
    padding-top: 35px; /* Offset for the height of the sidebar */
}

.container {
    width: 85%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin-top: 40px; /* Adjust this value as needed, smaller than before because of flexbox */
}

.header {
    margin-bottom: 20px;
    font-family: 'Freeman', sans-serif;
}

.service-box {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.85); /* Matching transparency for individual boxes */
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    margin-bottom: 20px;
}

/* Define hover effects for service boxes with specific classes */
.service-box.website:hover {
    background-color: rgba(173, 216, 230, 0.5); /* Light pastel blue */
}

.service-box.streaming:hover {
    background-color: rgba(255, 182, 193, 0.5); /* Light pastel red */
}

.service-box.reviews:hover {
    background-color: rgba(144, 238, 144, 0.5); /* Light pastel green */
}

.service-box {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    margin-bottom: 20px;
    transition: background-color 0.3s ease; /* Smooth color transition on hover */
}

.service-box h2 {
    color: #333;
    font-family: 'Freeman', sans-serif;
}

.service-box p {
    text-align: center; /* Center-align the text */
    color: #666;
}

.service-box img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 10px 0; /* Adds vertical spacing above and below the image */
}

.top-menu {
    position: fixed;
    top: 0; /* Initial position should be 0 but will be set to -50px by JS initially */
    width: 100%;
    background-color: rgba(51, 51, 51, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    transition: top 0.5s ease; /* Smooth transition for sliding effect */
}

.top-menu a {
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    font-family: 'Bebas Neue', sans-serif;
    transition: background-color 0.3s ease;
}

.top-menu a:hover {
    background-color: rgba(68, 68, 68, 0.6);
}
