/* Importing the fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

/* Define custom font */
@font-face {
    font-family: 'Professional';
    src: url('https://yourgithubusername.github.io/path/to/professional.otf') format('opentype');
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c0c0c0;
    font-family: 'Bebas Neue', sans-serif;
    overflow: hidden;
}

.container {
    text-align: center;
    padding-bottom: 0; /* Reduce or remove padding at the bottom of the container */
}

#title {
    font-size: 4em;
    color: #ffffff;
    letter-spacing: 0.05em;
    margin-bottom: 10px; /* Reduced margin to bring elements closer */
}

#depopImage {
    width: 500px; /* Adjust size as needed */
    height: auto;
    display: block; /* Ensures the image is centered */
    margin: -100px auto 0px auto; /* Reduces bottom margin */
}

.sidebar {
    position: fixed;
    top: 0;
    left: -75px; /* Start offscreen */
    width: 75px;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.6); /* Solid color with 60% transparency */
    display: flex;
    flex-direction: column;
    transition: left 0.5s ease;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    margin-top: 20px;
    padding: 15px;
    display: block;
    font-family: 'Professional';
    opacity: 1;
    transition: text-shadow 0.3s ease; /* Smooth transition for hover effect */
}

.sidebar a:hover {
    text-shadow: 0 0 5px rgba(74, 203, 207, 0.8),
                 0 0 10px rgba(255, 255, 255, 0.8),
                 0 0 15px rgba(123, 211, 234, 0.8),
                 0 0 20px rgba(255, 255, 255, 0.8); /* Enhanced glow effect with multiple layers */
}
