/* styles.css */

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

h1 {
  transition: opacity 0.9s ease; /* Smooth transition for opacity change */
}

h1:hover {
  animation: fade 1.4s ease forwards; /* Apply the fade animation on hover */
}
