/* Center the content horizontally */
body, .container {
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: #333; /* Dark grey background color */
    color: white; /* White text color */
}

/* Stack elements vertically */
.container {
    flex-direction: column;
    align-items: center; /* Center elements horizontally */
    padding-top: 50px; /* Add padding from the top */
}

/* Style the heading */
h1 {
    font-style: italic;
    font-size: 48px;
    margin: 0;
}

/* Container for the text elements */
.text-container {
    display: flex; /* Display elements side by side */
}

/* Style the text below the heading */
p {
    font-size: 24px;
    color: #777; /* Darker grey text color */
    margin: 10px;
    opacity: 1;
    transition: opacity 0.5s ease;
}

/* Apply the fade animation on hover for each text */
#depop:hover {
    animation: fadeDepop 1s ease forwards;
}

#tiktok:hover {
    animation: fadeTikTok 1.5s ease forwards;
}

/* Keyframes for fade animation */
@keyframes fadeDepop {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

@keyframes fadeTikTok {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}
