/* Center the content horizontally */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center vertically */
    margin: 0;
    background-color: #333; /* Dark grey background color */
    color: white; /* White text color */
    padding-top: 50px; /* Add padding from the top */
}

/* Style the heading */
h1 {
    font-style: italic;
    font-size: 48px;
    margin: 0;
    transition: opacity 0.5s ease; /* Smooth transition for opacity change */
}

/* Style the text below the heading */
.links {
    display: flex; /* Display elements side by side */
    align-items: center; /* Center horizontally */
}

.links span {
    font-size: 18px; /* Smaller font size */
    color: #777; /* Darker grey text color */
    margin: 10px;
    opacity: 1;
    transition: opacity 0.5s ease; /* Smooth transition for opacity change */
}

/* Style the separator */
.separator {
    font-size: 18px; /* Smaller font size */
    color: #777; /* Darker grey text color */
}

/* Apply the fade animation on hover for each text */
#depop:hover,
#tiktok:hover {
    animation: fade 1s ease forwards;
}

/* Keyframes for fade animation */
@keyframes fade {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}
