/* Importing and using custom font */
@font-face {
    font-family: 'Daydream'; /* Name of the custom font family */
    src: url('Daydream.ttf') format('truetype'); /* URL to the font file and its format */
}

@font-face {
    font-family: 'bubble'; /* Name of the custom font family */
    src: url('bubble.otf') format('opentype'); /* URL to the font file and its format */
}

/* Center the content horizontally and vertically */
body {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    background-color: #8EB0F7; /* Dark grey background color */
    color: white; /* White text color */
    font-family: 'Daydream', monospace; /* Apply custom font family */
}

/* Style the CHAHANLER GIF */
#chahanler-gif {
    width: 500px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin: auto; /* Center the image horizontally */
    margin-top: 20vh; /* Adjusted margin */
    margin-bottom: 20vh; /* Adjusted margin */
    display: block; /* Ensure the image is displayed as a block element */
    cursor: pointer; /* Change cursor to pointer on hover */
}

/* Style the text below the heading */
.links {
    font-size: 18px; /* Smaller font size */
    color: #777; /* Darker grey text color */
    margin-top: -20px; /* Adjusted margin to move the container up */
    opacity: 1;
    transition: opacity 1s ease; /* Smooth transition for opacity change */
    display: flex;
    flex-direction: row; /* Align items in a row */
}

/* Style the links */
.links a {
    color: inherit; /* Inherit color from parent */
    text-decoration: none; /* Remove default underline */
    transition: opacity 1s ease; /* Smooth transition for opacity change */
    margin: 5px; /* Add some margin between the links */
}

/* Style links on hover */
.links a:hover {
    opacity: 0.5; /* Reduce opacity on hover */
}

/* Style the "Depop" and "TikTok" images */
#depops-image,
#tiktok-image {
    width: 200px; /* Adjust the size as needed */
    height: auto; /* Maintain aspect ratio */
    margin: auto; /* Center the image horizontally */
    transition: transform 0.5s ease; /* Smooth transition for transform change */
}

/* Styling for the divider image */
#divider-image {
    width: 50px; /* Adjust the size as needed */
    height: auto; /* Maintain aspect ratio */
    margin: auto; /* Center the image horizontally */
    position: relative; /* Ensure the element is positioned relative to its normal position */
    z-index: 5; /* Ensure the divider is above other elements */
    cursor: pointer; /* Change cursor to pointer */
    transition: transform 0.5s ease; /* Apply smooth transition for rotation */
}

/* Styling for Spotify containers */
.spotify-container {
    margin-top: 10vh; /* Adjusted margin to move the playlists down */
    width: 100%; /* Make each container occupy the full width */
    max-width: 600px; /* Set a maximum width to avoid overlapping */
    animation: fadeIn 1s ease-out forwards;
    opacity: 100; /* Initially hide the playlists */
}

/* Animation keyframes */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
    #chahanler-gif {
        width: 90%; /* Adjust the width for smaller screens */
    }

    #depops-image,
    #tiktok-image {
        width: 80%; /* Adjust the size for smaller screens */
    }

    #divider-image {
        width: 30px; /* Adjust the size for smaller screens */
    }
}

